body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.to-color{
  background-color: white !important;
  border-color: white !important;
}
button .to-color{
  background: white !important;
}
.hero {
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background-image: url('../assets/kid.webp');
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  width: 100%;
  background-repeat: no-repeat; /* Prevents image repetition */
  color: #fff; /* Ensures text is readable against the background */
  margin-top: 50px !important;
}

.hero h1 {
  font-size: 3rem; /* Adjust size as needed */
  margin-bottom: 1rem; /* Space below the heading */
}

.hero p {
  font-size: 1.25rem; /* Adjust size as needed */
  margin-bottom: 1.5rem; /* Space below paragraphs */
}

.hero .btn {
  background-image: linear-gradient(to bottom,  #ffb850,  #17a2b8);
  border: none; /* Remove border */
  color: #fff; /* Text color */
  padding: 0.75rem 1.5rem; /* Adjust padding for button */
  font-size: 1rem; /* Adjust font size */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth color transition on hover */
  
}

.hero .btn:hover {
  background-color: #17a2b8; /* Darker color on hover */
}
.nav-bg {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;

}
/*   
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  } */
  .child{
    /* background-color: #f9f9f9;  */
    background-color: rgb(10 25 47);
    overflow: hidden;
  }
  /* a .care{
    color:  #fff;
  } */
  .care {
    color:#ffb850
  }
  
  .connect {
    color: #17a2b8;
  }
  .nav-bg{
    /* background: #8a7a7a; */
    background-color: rgb(10 25 47);
    color: #fff;

  }
  .land-link{
    color: #fff !important;
  }
  .feat {
    /* Light background color for the section */
    padding: 3rem 1rem; /* Adjust padding for top and bottom */
  }
  
  .feat h5 {
    font-size: 1.75rem; /* Adjust font size for heading */
    color: #333; /* Darker color for better readability */
  }
  
  .feature-card {
    
    border-radius: 10px; /* Rounded corners */
 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    padding: 1.5rem; /* Padding inside the card */
    text-align: center; /* Center text inside the card */
    cursor: pointer; /* Pointer cursor for interactive elements */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition effects */
  }
  
  .feature-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  }
  #features p{
    color:  white;
  }
  .feature-card.active {
    border: 2px solid #1DC7EA; /* Highlight border for active card */
  }
  
  .feature-icon {
    margin-bottom: 1rem; /* Space between icon and text */
  }
  
  .icon-img {
    width: 50px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
  }
  
  .feature-description {
    color: #666; /* Lighter color for description */
    font-size: 0.9rem; /* Slightly smaller font size for description */
  }
  
  .features {
    padding: 2rem;
  }
  
  .features .row {
    justify-content: center;
  }
  
  .features .col-md-4 {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
  }
  
  .features i {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  #testimonials {
    
    padding: 3rem 0; /* Adjust padding for top and bottom */
  }
  
  #testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem; /* Space below heading */
  }
  
  .testimonial-card {
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures content does not overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for card */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
  }
  
  .testimonial-card:hover {
    transform: translateY(-10px); /* Lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  }
  
  .testimonial-card img {
    width: 100%; /* Ensures the image covers the card width */
    height: auto; /* Maintains aspect ratio */
  }
  
  .testimonial-body {
    padding: 1.5rem; /* Padding inside the card body */
  }
  
  blockquote {
    font-style: italic; /* Italicize the blockquote text */
    border-left: 4px solid #1DC7EA; /* Add a border on the left */
    padding-left: 1rem; /* Padding for the blockquote */
    margin: 0; /* Remove default margins */
  }
  
  cite {
    display: block; /* Block display for the citation */
    text-align: right; /* Right-align the citation text */
    color: #555; /* Slightly darker color for the citation */
    font-weight: bold; /* Bold text for the citation */
  }
  
  .testimonials {
    padding: 2rem;
  }
  
  .testimonials blockquote {
    margin-bottom: 2rem;
  }
  
  .pricing {
    padding: 2rem;
  }
  
  .pricing .row {
    justify-content: center;
  }
  
  .pricing-card {
    position: relative;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .pricing-header {
    padding: 1.5rem 1rem;
    border-radius: 10px 10px 0 0;
  }
  .pricing-card ul li{
    color: white;
  }
  .pricing-top-features {
    padding: 0.5rem;
    font-weight: bold;
  }

  .tick-list {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .tick-list li:before {
    content: '√';
    margin-right: 10px;
    color: #2ecc71;
    font-weight: bold;
  }
  
  .cancel-list li:last-child::before {
    content: 'X';
    color: red;
  }
  
  .coming-soon-badge {
    position: absolute;
    top: 60px;
    left: 4px;
    /* background-color: #ff69b4; */
    background-color: #1DC7EA;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-45deg);
    transform-origin: top left;
  }
  
 .book-demo-btn{
    border-radius: 10px;
    background-color:#94a3b8 ;
    color: white;
    border-color: #94a3b8;
    padding-left: 30px;
    width: 50%;
    font-size: small;
 }
 .book-demo-btn-second{
    border-radius: 10px;
    background-color:#ffb850 ;
    color: white;
    border-color: #ffb850;
    padding-left: 30px;
    width: 50%;
    font-size: small;
 }
 .book-demo-sign{
    border-radius: 10px;
    background-color:#007bff ;
    color: white;
    border-color: #007bff;
    padding-left: 30px;
    width: 50%;
    font-size: small;
 }
 .card-height{
    border-radius: 10px;
    
 }
 
 .land-link {
  transition: color 0.3s ease-in-out !important;
}

.land-link:hover {
  color: #007bff !important; /* change the color to your desired hover color */
  text-decoration: none;
}
  /* .active{
    color: white;
    background-color: #007bff !important;
    
 } */
 .clicked{
    color: white;
    background-color: #007bff !important;
    
 }
 .get-started{
    height: 300px;
 }
 .book-demo-get{
    border-radius: 10px;
    background-color:#007bff ;
    color: white;
    border-color: #007bff;
    padding-left: 30px;
    width: 30%;
    height: 50px;
 }

 .sign-up-nav{
  background-color: #007bff;
  color: white;
  border-color: #007bff;
 }
 .sign-in-nav{
background-color: #ffb850;
color: white;
border-color: #ffb850;
 }
 @media (max-width: 992px) {
  .sign-in-nav{
    margin-bottom: 10px;
    width: 60%;
  }
  .sign-up-nav{
    width: 60%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  .book-demo-get{
    text-wrap: nowrap;
    width: 40%;
  }
  .get-started{
    width: 100%;
  }
  .get{
    width: 100%;
  }
  .book-demo-btn{
    text-wrap: nowrap;
  }
  .book-demo-btn-second{
    text-wrap: nowrap;
  }
  .care-5{
    color: white;
    position: absolute;
    left: 20% !important;
    
  }
  .land-link{
    color: white !important ;
  }
  .lg-nav{
    display: none !important;
  }
 }
 #features {
 
  padding: 2rem 0;
}

#features h5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 2rem;
}

.feat-card {
  border: none;
  box-shadow: 0 1px 3px rgba(4, 12, 22, 0.1), 0 1px 2px rgba(4, 12, 22, 0.06);
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  border-radius: 10px;
}

.feat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.feat-img {
  max-width: 80px;
  height: auto;
  margin-bottom: 1rem;
}

.feat-text {
  font-size: 0.9rem;
  color: #495057;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .feat-card {
    padding: 1.5rem;
  }

  .feat-img {
    max-width: 100px;
  }

  .feat-text {
    font-size: 1rem;
  }
}

#testimonials h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 2rem;
}
.feat h5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 2rem;
}
#pricing h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
  margin-bottom: 2rem;
}
