
.title-sub{
    font-size: 1.1rem;
    line-height: 1.25rem;
    font-weight: 200;
    color:#15228abf;
}

.first-holder{
    position: relative;
}
.background-img{
    z-index: 4;
    height: 250px;
}
.dotted-circle {
    width: 200px;
    height: 200px;
    border: 4px dashed #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: rotate 10s linear infinite;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 0;
}
@keyframes rotate  {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.crec .navbar-brand{
    height: 2.5rem;
    font-size: 2.3rem !important;
    /* color: #ffb850 !important; */
    color: #eee !important;
}

.welcome{
    font-size: 1.2rem;
    line-height: 2.25rem;
    font-weight: 800;
    color: #eee;
}
.end-text{
    color:#15228abf;
}

.sec-sub{
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 100;
    color: #94a3b8
}
.line-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0; 
}
.or-line {
    flex-grow: 1;
    border-bottom: 1px solid #94a3b8 !important; 
    margin: 0 10px; 
}
.first-container{
    position: relative;
    display: flex;
    align-items: center;
}
.second-conatiner{
    position: relative;
    display: flex;
    align-items: center;
}
.user-input{
    border: none;
    outline: none;
    border-bottom: 2px solid #000; 
    padding-left: 20px !important ;
    padding: 10px;
    background: transparent;
    
}
.user-input:focus{
    border-bottom-color: #007bff;
   
}
.user-input::placeholder{
    padding-left: 3px ;
    
}
.person-icon{
    position: absolute;
    top: 8px;
}
.eye-icon{
    position: absolute;
    right: 10px;
    top: 8px;
}

.sign-btn{
    background-color: #000;
    color: white;
}
.sign-in-staff{
    background-color: #f6af45;
    color: white;
    border-color: #f6af45;
}
.sign-in-parent{
    background-color: #15228abf;
    color: white;
    border-color: #15228abf;
}
.parent-btn{
    border-color: #15228abf;
    color: #15228abf;
    background: transparent;
}
.centre-btn{
    border-color: black;
    color: black;
    background: transparent;
}
.Staff-btn{
    border-color: #ffb850bf;
    color: #ffb850;
    border-width: 1px;
    background: transparent;
}

.btns{
   
        display: inline-flex;
        height: 2.5rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        padding: .5rem 1.25rem;
        text-align: center;
        font-weight: 500;
        letter-spacing: .025em;
        outline: 2px solid transparent;
        outline-offset: 2px;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .2s;
       
}
.terms{
    padding-left: 20px;
}
.priv{
    padding-right: 15px;
}
.terms a, .priv a, .forget,.acct {
    color: #94a3b8;
    text-decoration: none;
}


.holder-main {
  height: 100vh;
  overflow: hidden;
  /* background-color: #15228abf; */
  /* background-color: #ffb850; */
}

.shadow-add {
  height: calc(100vh - 50px); /* subtract the height of the navbar */
  margin: 30px !important;
  position: relative;
  top: -20px; 
  border-radius: 10px;
}

/* Create the pseudo-element for the gradient effect */
.shadow-add::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  bottom: -10px; /* Adjust as needed */
  background: linear-gradient(to right, #d9d5d5, #fccb90);
  border-radius: inherit; /* Match the border radius of the parent */
  z-index: -1; /* Ensure it is behind the content */
  filter: blur(10px); 
  opacity: 0.7; 
}

.background-side{
    background-color: #fccb90;
     height: calc(100vh - 50px);
     border-radius: 10px;
}
.login-side{
    background-color: #eee;
     height: calc(100vh - 50px);
     border-radius: 10px;
}
.login-text{
    color: #f6af45;
}
.login-text-par{
    color: #15228abf;
}
.component-container {
    transition: opacity 0.5s ease-in-out;
  }
  
  .component-container.animate {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 
  
  .component-first {
    transition: opacity 0.5s ease-in;
  }
  
  .component-first.animate {
   
    animation:  fadeOut 0.5s ease-in;

  }
  
  @keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 2;
    }
  } 





  /*reset centre password*/
  
  .reset-header{
    height: 2.5rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
   
  }
.center-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
}
.reset-space{
 width: 350px;
 padding-top: 50px;

}
.reset-sub{
    font-size: .96rem;
    line-height: 1rem;
    color: #64748b;
}
.back-to-login, .back-to-login a {
    font-size: .75rem;
    line-height: 1rem;
    color: #64748b;
    
}
.back-to-login a{
    margin-left: 5px;
}
.back-to-login .left{
    margin-bottom: 1px;
}
.reset-shadow {
height: auto;
width: 400px;
border-radius: 10px;
background-color: #eee;
position: relative;
left: 34%;
top: 20px;
  }
  
  /* Create the pseudo-element for the gradient effect */
  .reset-shadow::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: -10px; 
    right: -10px; 
    bottom: -10px; 
    background: linear-gradient(to right, #d9d5d5, #fccb90);
    border-radius: inherit; 
    z-index: -1; 
    filter: blur(10px); 
    opacity: 0.7; 
  }
  .sm-creach{
    display: none !important;
  }
  @media (max-width: 992px) {
    .background-side{
        display: none;
    }
    .holder-main{
        height: 100vh !important;
        overflow: hidden;
        overflow-y:hidden !important;
    }
    .sm-creach{
        display: block !important;
        color: #f6af45 !important;
    }
    .sm-creach .navbar-brand{
        display: block !important;
        color: #f6af45 !important;
    }
    
    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Centers the brand horizontally */
        text-align: center;
       
    }
    .shadow-add::before {
        background-color: none !important;
        background: linear-gradient(to right,  #878484, #878484);
    }
 
    .login-side{
        width: 100%;
        height: 500px;
        
        
    }
    .shadow-add {
        width: 100%;
        margin: 0px !important;
        position: relative;
        top: 5%; 
        border-radius: 10px;
        height: 500px;
        background-color: none !important;
    }
    .reset-shadow {
       
        width: 100%;
        border-radius: 10px;
        background-color: #eee;
        position: relative;
        left: 0;
        top: 20px;
          }
          .reset-space{
            width: 100%;
          }

          .reset-shadow::before {
          
            background: linear-gradient(to right,  #878484, #878484);
         
            background-color: none !important;
          }
       
  }