.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 75vh; /* Set the height of the container to the full viewport height */
}

.chat-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex-grow: 1; /* Allow this section to grow and fill available space */
  max-height: calc(70vh - 150px); 
  overflow-y: auto;
  margin-bottom: 20px;
  /* background-color: #dc3545; */
}

.message-list {
  list-style: none;
  padding: 0;
}

.message-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: fit-content; /* Adjust width based on content */
  min-width: 10%; /* Minimum width for short messages */
  max-width: 60%; /* Maximum width for longer messages */
  display: flex;
  flex-direction: column;
  word-wrap: break-word; /* Ensure long words break into a new line */
}

.received {
  align-self: flex-start; /* Align sent messages to the start */
  background-color: #dc3545;
  color: white;
  text-align: left;
}
.sent{
  align-self: flex-end; /* Align received messages to the end */
  background-color: #28a745;
  color: white;
  text-align: right;
  margin-left: auto; /* Add this to push the message to the right edge */
}


.date-divider {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #555;
}

small {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
  color: #ccc;
}

.chat-input {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  position: sticky;
  bottom: 0; /* Fix the input area at the bottom */
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.wrapper, .billie {
  min-height: 100vh;

  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper, .billie {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
}
.wrapper{
  
}
.content{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-panel{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  scrollbar-width: none !important;
}

@media (max-width: 992px) {
  .at-but{
    font-size: 10px ;
    text-wrap: nowrap;
    width: 100%;
  }
  .na{
    text-wrap: nowrap;
  }
  
}